body{
    padding: 0;
    margin: 0;
    font-family:"SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#menu{
    max-width: 1450px;
    padding: 10px 10px;
    margin: auto;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #5E3DEE;
    font-family:"SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div{
    padding: 5px;
   /* border: 1px solid grey;*/
}
.menu-item{
    color:#ffffffcc;
    font-weight:lighter;
    padding: 10px 15px;
}
.menu-item:hover{
    color:white;
}
.container{
    background-color: #5E3DEE;
    cursor: pointer;
}
.round-btn{
    border-radius: 20px;
    border: 2px solid white;
    padding: 10px 40px;
    margin: 0 10px;
}
.round-btn:hover{
    background-color: white;
    color: #5E3DEE;
}
#logo{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    margin-right: auto;
}
/*Home CSS*/
#home{
    display: flex;
    max-width: 1200px;
    padding-top: 40px;
    margin: auto;
    color: white;
    font-family:"SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.title-graphics img{
    max-width: 700px;
    border-radius: 4%;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title h1{
    font-size: 3.5rem;
    margin: 0;
}
.title p{
    font-size: 1.2em;
    padding: 8px 0;
}
.signup-btn{
    border-radius: 30px;
    border: 2px solid white;
    font-size: 1.1rem;
    padding: 10px 40px;
    margin: 0 10px;
    background-color: white;
    color:#5E3DEE;
}
.signup-btn:hover{
    color: white;
    background-color: #5E3DEE;
}

/* description css */
.marketing, .cards{
max-width: 1450px;
margin: auto;
}
.marketing h2, .price-title h2{
    font-size: 2.3rem;
    text-align: center;
    max-width: 600px;
    margin: 10px auto;
    margin-bottom: 50px;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.marketing-card img{
max-width:100%;
margin-bottom: 20px;
}
.marketing-card{
    max-width: 100%;
}
.marketing-card div{
    text-align:center;
    line-height: 1.3rem;
}
.title-text{
font-size: 1.5em;
font-weight:bold;
margin-bottom: 10px;
}
.soft{
    color: #666666;
}

/* Pricing CSS */
#pricing, #testimonials{
    max-width:1000px;
    margin: 100px auto;
}

.price-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.price-card{
    max-width: 30%;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 19px;
}


.price-card:hover{
    transform: scale(1.1);
    background-color: #f5f5f5;
}

.price-info{
    text-align: center;
}
.plan{
    color: #5E3DEE;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.price{
    color: #444;
    font-weight: bold;
    font-size: 3rem;
}
.trial{
    color: #777;
    font-size: 1rem;
    margin-bottom: 10px;
}
.features{
    line-height: 1.8rem;
    padding-left: 10px;
    color: #666;
    list-style: none;
}
.action{
    text-align: center;
}
.action button{
    border: 2px solid #5E3DEE;
    background-color: #5E3DEE;
    color: white;
    font-size: 0.9rem;
    font-weight: lighter;
    cursor: pointer;
    padding: 10px 20px;
}
.action button:hover{
    background-color: white;
    color: #5E3DEE;
    font-size: 1rem;
}

/* Testimonial Section*/
#testimonials{
    display: flex;
    padding: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.profile-image img{
    border-radius: 50%;
    max-width: 170px;
}
.profile-image img:hover{
   transform: scale(1.3);
}
.feedback{
    margin-left: 30px;
}
.feedback p{
    color: #666;
    font-style: lighter;
    line-height: 1.5rem;
}
.feedback p.name{
    color: #000;
    font-style: normal;
    font-weight: bold;
}

/* Subscribe Section */
#subscribe{
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: rgb(229, 237, 249);
    border-radius: 20px;
    padding: 150px 0;
}
.form{
    max-width: 600px;
    text-align: center;
    margin: auto;
}
.email{
    width: 100%;
    line-height: 3rem;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px 10px;
}
.agree{
    color: #666;
    padding: 10px;
    padding-bottom: 30px;
    text-align: left;
    font-size: 0.8rem;
    margin:  auto;
}
.subscribe{
    width: 103%;
    margin: 0;
}
.subs-title h2{
    font-size: 2rem;
    text-align: center;
    max-width: 600px;
    margin: auto;
    margin-bottom: 50px;
}

/* Footer Section */
#footer{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    color: white;
}
.footer-section{
    width: 400px;
    line-height: 1.5rem;
    padding: 10px;
}
.footer-section h3{
    font-size: 1.5rem;
}
.footer-section ul{
    list-style: none;
    padding-left: 15px;
}
.rect ul{
    list-style: square;
}
.footer-frame{
    position: relative;
    bottom: -5px;
}
.light-hr{
    background-color: white;
}
.copyright{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    color: white;
    padding: 20px;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.social div{
    padding: 20px;
    cursor: pointer;
}
.social i{
    font-size: 3.5rem;
}
.social div:hover{
    transform: scale(1.3);
}

/*  For Mobile responsive For Mobile responsive For Mobile responsive For Mobile responsive For Mobile responsive For Mobile responsive For Mobile responsive For Mobile responsive For Mobile responsive For Mobile responsive For Mobile responsive For Mobile responsive For Mobile responsive*/
@media (max-width: 575.98px) {
  
 #menu{
    display: none;
 }

 .header{
    display: flex;
    flex-direction: row;
    background-color: #5E3DEE; 
    margin-top: -1px;
    margin-bottom: -1px;
 }
.menu-items{
    text-align: center;
    position: fixed;
    padding: 5rem;
    top: -1.5rem;
    left: 13rem;
    list-style: none;
    opacity: 0;
    font-size: 2rem;
    border: 4px solid black;
    background-color: rgb(229, 237, 249);
    border-radius: 0.25em;
    transform: translateX(-10%);
    transition: transform 100ms ease-in-out, opacity 200ms;
    z-index: 1;
}

.menu-items li{
    color: white;
    padding: 0.5rem;
}

.menu-items li a{
    color: white;
    text-decoration: none;
}

.menu-items li a:hover{
    color: rgb(93, 87, 198);
}

.check {
    background-color: #000000;
    position: relative;
    height: 3rem;
    width: 3rem;
    opacity: 0;
    z-index: 3;
}

.check:hover {
    cursor: pointer;
}

.check:checked~.menu-items {
    display: block;
    transform: translateX(0%);
    opacity: 1;
}

.ham-menu {
    height: 3rem;
    width: 3rem;
    position: fixed;
    top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0.25em;
    z-index: 2;
}

.ham-menu .line {
    background-color: rgb(0, 0, 0);
    border-radius: 1em;
    width: 2.8rem;
    height: 0.25rem;
}

.ham-menu .line1 {
    transform-origin: 0% 0%;
    transition: transform 100ms ease-in-out;
}

.ham-menu .line3 {
    transform-origin: 0% 100%;
    transition: transform 100ms ease-in-out;
}

.check:checked~.ham-menu .line1 {
    display: block;
    transform: rotate(45deg);
}

.check:checked~.ham-menu .line2 {
    opacity: 0;
}

.check:checked~.ham-menu .line3 {
    display: block;
    transform: rotate(-45deg);
}



 
    #logo{
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
        font-weight: bold;
        margin-right: auto;
        padding-top: 18px;
        padding-left: 30px;
    }
    /*Home CSS*/
    #home{
        display: flex;
        flex-direction:column-reverse;
        max-width: 575px;
        padding-top: 40px;
        margin: auto;
        color: white;
        font-family:"SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .title-graphics img{
        max-width: 100%;
        border-radius: 4%;
    }
    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title h1{
        font-size: 1.5rem;
        margin: 0;
    }
    .title p{
        font-size: 1.2em;
        padding: 8px 0;
    }
    .signup-btn{
        border-radius: 30px;
        border: 2px solid white;
        font-size: 1.1rem;
        padding: 10px 50px;
        margin: 0 10px;
        background-color: white;
        color:#5E3DEE;
    }
   
    .signup-btn:hover{
        color: white;
        background-color: #5E3DEE;
    }
    
    /* description css */
    .marketing, .cards{
    max-width: 1450px;
    margin: auto;
    }
    .marketing h2, .price-title h2{
        font-size: 2.3rem;
        text-align: center;
        max-width: 600px;
        margin: 10px auto;
        margin-bottom: 50px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .marketing-card img{
    max-width:100%;
    margin-bottom: 20px;
    }
    .marketing-card{
        max-width: 100%;
    }
    .marketing-card div{
        text-align:center;
        line-height: 1.3rem;
    }
    .title-text{
    font-size: 1.5em;
    font-weight:bold;
    margin-bottom: 10px;
    }
    .soft{
        color: #666666;
    }
    
    /* Pricing CSS */
    #pricing, #testimonials{
        max-width:1000px;
        margin: 100px auto;
    }
    
    .price-cards{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .price-card{
        max-width: 100%;
        padding: 50px;
        border: 1px solid #ccc;
        border-radius: 19px;
        padding-bottom: 10%;
        margin: 11px 20px;
        }
    
    
    .price-card:hover{
        transform: scale(1.1);
        background-color: #f5f5f5;
    }
    
    .price-info{
        text-align: center;
    }
    .plan{
        color: #5E3DEE;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.2em;
    }
    .price{
        color: #444;
        font-weight: bold;
        font-size: 3rem;
    }
    .trial{
        color: #777;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .features{
        line-height: 1.8rem;
        padding-left: 10px;
        color: #666;
        list-style: none;
    }
    .action{
        text-align: center;
    }
    .action button{
        border: 2px solid #5E3DEE;
        background-color: #5E3DEE;
        color: white;
        font-size: 0.9rem;
        font-weight: lighter;
        cursor: pointer;
        padding: 10px 20px;
    }
    .action button:hover{
        background-color: white;
        color: #5E3DEE;
        font-size: 1rem;
    }
    
    /* Testimonial Section*/
    #testimonials{
        padding: 50px;
        display: inline;
    }
    .profile-image img{
        border-radius: 50%;
        max-width: 170px;
        margin: auto;
        justify-content: center;
        padding:  0 100px;

    }
    .profile-image img:hover{
       transform: scale(1.3);
    }
    .feedback{
        margin-left: 5px;
        margin-right: 5px;
    }
    .feedback p{
        color: #666;
        font-style: lighter;
        line-height: 1.3rem;
    }
    .feedback p.name{
        color: #000;
        font-style: normal;
        font-weight: bold;
    }
    
    /* Subscribe Section */
    #subscribe{
        max-width: 96%;
        margin: auto;
        margin-bottom: 30px;
        background-color: rgb(229, 237, 249);
        border-radius: 20px;
        padding: 150px 0;
    }
    .form{
        max-width: 600px;
        text-align: center;
        margin: auto;
    }
    .email{
        width: 95%;
        line-height: 3rem;
        border-radius: 5px;
        border: 1px solid grey;
        padding: 5px 10px;
    }
    .agree{
        color: #666;
        padding: 10px;
        padding-bottom: 30px;
        text-align: left;
        font-size: 0.8rem;
        margin:  auto;
    }
    .subscribe{
        width: 95%;
        margin: 0;
    }
    .subs-title h2{
        font-size: 2rem;
        text-align: center;
        max-width: 600px;
        margin: auto;
        margin-bottom: 50px;
    }
    
    /* Footer Section */
    #footer{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        color: white;
    }
    .footer-section{
        width: 98%;
        line-height: 1.5rem;
        padding: 10px;
    }
    .footer-section h3{
        font-size: 1.5rem;
    }
    .footer-section ul{
        list-style: none;
        padding-left: 15px;
    }
    .rect ul{
        list-style: square;
    }
    .footer-frame{
        position: relative;
        bottom: -5px;
    }
    .light-hr{
        background-color: white;
    }
    .copyright{
        max-width: 100%;
        margin: auto;
        text-align: center;
        color: white;
        padding: 20px;
    }
    .social{
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }
    .social div{
        padding: 12px;
        cursor: pointer;
    }
    .social i{
        font-size: 3.5rem;
    }
    .social div:hover{
        transform: scale(1.3);
    }
  }

  /* Small devices (landscape phones, 576px and up) */   /* Small devices (landscape phones, 576px and up) */   /* Small devices (landscape phones, 576px and up) */   /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    #menu{
        display: none;
     }
    
     .header{
        display: flex;
        flex-direction: row;
        background-color: #5E3DEE; 
        margin-top: -1px;
        margin-bottom: -1px;
     }
    .menu-items{
        text-align: center;
        position: fixed;
        padding: 5rem;
        top: -1.5rem;
        left: 13rem;
        list-style: none;
        opacity: 0;
        font-size: 2rem;
        border: 4px solid black;
        background-color: rgb(229, 237, 249);
        border-radius: 0.25em;
        transform: translateX(-10%);
        transition: transform 100ms ease-in-out, opacity 200ms;
        z-index: 1;
    }
    
    .menu-items li{
        color: white;
        padding: 0.5rem;
    }
    
    .menu-items li a{
        color: white;
        text-decoration: none;
    }
    
    .menu-items li a:hover{
        color: rgb(93, 87, 198);
    }
    
    .check {
        background-color: #000000;
        position: relative;
        height: 3rem;
        width: 3rem;
        opacity: 0;
        z-index: 3;
    }
    
    .check:hover {
        cursor: pointer;
    }
    
    .check:checked~.menu-items {
        display: block;
        transform: translateX(0%);
        opacity: 1;
    }
    
    .ham-menu {
        height: 3rem;
        width: 3rem;
        position: fixed;
        top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 0.25em;
        z-index: 2;
    }
    
    .ham-menu .line {
        background-color: rgb(0, 0, 0);
        border-radius: 1em;
        width: 2.8rem;
        height: 0.25rem;
    }
    
    .ham-menu .line1 {
        transform-origin: 0% 0%;
        transition: transform 100ms ease-in-out;
    }
    
    .ham-menu .line3 {
        transform-origin: 0% 100%;
        transition: transform 100ms ease-in-out;
    }
    
    .check:checked~.ham-menu .line1 {
        display: block;
        transform: rotate(45deg);
    }
    
    .check:checked~.ham-menu .line2 {
        opacity: 0;
    }
    
    .check:checked~.ham-menu .line3 {
        display: block;
        transform: rotate(-45deg);
    }
    
    
    
     
        #logo{
            font-size: 1.5rem;
            color: rgb(255, 255, 255);
            font-weight: bold;
            margin-right: auto;
            padding-top: 18px;
            padding-left: 30px;
        }
    /*Home CSS*/
    #home{
        display: flex;
        max-width: 1200px;
        padding-top: 40px;
        margin: auto;
        color: white;
        font-family:"SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .title-graphics img{
        max-width: 100%;
        border-radius: 4%;
    }
    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title h1{
        font-size: 1.5rem;
        margin: 0;
    }
    .title p{
        font-size: 1.2em;
        padding: 8px 0;
    }
    .signup-btn{
        border-radius: 30px;
        border: 2px solid white;
        font-size: 1.1rem;
        padding: 10px 40px;
        margin: 0 10px;
        background-color: white;
        color:#5E3DEE;
    }
    .signup-btn:hover{
        color: white;
        background-color: #5E3DEE;
    }
    
    /* description css */
    .marketing, .cards{
    max-width: 1450px;
    margin: auto;
    }
    .marketing h2, .price-title h2{
        font-size: 2.3rem;
        text-align: center;
        max-width: 600px;
        margin: 10px auto;
        margin-bottom: 50px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .marketing-card img{
    max-width:100%;
    margin-bottom: 20px;
    }
    .marketing-card{
        max-width: 100%;
    }
    .marketing-card div{
        text-align:center;
        line-height: 1.3rem;
    }
    .title-text{
    font-size: 1.5em;
    font-weight:bold;
    margin-bottom: 10px;
    }
    .soft{
        color: #666666;
    }
    
    /* Pricing CSS */
    #pricing, #testimonials{
        max-width:1000px;
        margin: 100px auto;
    }
    
    .price-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .price-card{
        max-width: 80%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 19px;
    }
    
    
    .price-card:hover{
        transform: scale(1.1);
        background-color: #f5f5f5;
    }
    
    .price-info{
        text-align: center;
    }
    .plan{
        color: #5E3DEE;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.2em;
    }
    .price{
        color: #444;
        font-weight: bold;
        font-size: 3rem;
    }
    .trial{
        color: #777;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .features{
        font-size: small;
        line-height: 1.8rem;
        padding-left: 0px;
        color: #666;
        list-style: none;
    }
    .action{
        text-align: center;
    }
    .action button{
        border: 2px solid #5E3DEE;
        background-color: #5E3DEE;
        color: white;
        font-size: 0.9rem;
        font-weight: lighter;
        cursor: pointer;
        padding: 10px 20px;
    }
    .action button:hover{
        background-color: white;
        color: #5E3DEE;
        font-size: 1rem;
    }
    
    /* Testimonial Section*/
    #testimonials{
        display: flex;
        padding: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .profile-image img{
        border-radius: 50%;
        max-width: 170px;
    }
    .profile-image img:hover{
       transform: scale(1.3);
    }
    .feedback{
        margin-left: 30px;
    }
    .feedback p{
        color: #666;
        font-style: lighter;
        line-height: 1.5rem;
        padding: 20px;

    }
    .feedback p.name{
        color: #000;
        font-style: normal;
        font-weight: bold;
    }
    
    /* Subscribe Section */
    #subscribe{
        max-width: 95%;
        margin: auto;
        margin-bottom: 30px;
        background-color: rgb(229, 237, 249);
        border-radius: 20px;
        padding: 150px 0;
    }
    .form{
        max-width: 600px;
        text-align: center;
        margin: auto;
    }
    .email{
        width: 95%;
        line-height: 3rem;
        border-radius: 5px;
        border: 1px solid grey;
        padding: 5px 10px;
    }
    .agree{
        color: #666;
        padding: 10px;
        padding-bottom: 30px;
        text-align: left;
        font-size: 0.8rem;
        margin:  auto;
    }
    .subscribe{
        width: 95%;
        margin: 0;
    }
    .subs-title h2{
        font-size: 2rem;
        text-align: center;
        max-width: 600px;
        margin: auto;
        margin-bottom: 50px;
    }
    
    /* Footer Section */
    #footer{
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        color: white;
    }
    .footer-section{
        width: 400px;
        line-height: 1.5rem;
        padding: 10px;
    }
    .footer-section h3{
        font-size: 1.1rem;
    }
    .footer-section ul{
        list-style: none;
        padding-left: 5px;
    }
    .rect ul{
        list-style: square;
    }
    .footer-frame{
        position: relative;
        bottom: -5px;
    }
    .light-hr{
        background-color: white;
    }
    .copyright{
        max-width: 1000px;
        margin: auto;
        text-align: center;
        color: white;
        padding: 20px;
    }
    .social{
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }
    .social div{
        padding: 20px;
        cursor: pointer;
    }
    .social i{
        font-size: 3.5rem;
    }
    .social div:hover{
        transform: scale(1.3);
    }
  }
  
  /* Medium devices (tablets, 768px and up) Medium devices (tablets, 768px and up) Medium devices (tablets, 768px and up) Medium devices (tablets, 768px and up). Medium devices (tablets, 768px and up). Medium devices (tablets, 768px and up). Medium devices (tablets, 768px and up). Medium devices (tablets, 768px and up). Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .header{
        display: none;
    }
    #menu{
        max-width: 1450px;
        padding: 10px 10px;
        margin: auto;
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: #5E3DEE;
        font-family:"SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    div{
        padding: 5px;
       /* border: 1px solid grey;*/
    }
    .menu-item{
        color:#ffffffcc;
        font-weight:lighter;
        padding: 10px 15px;
    }
    .menu-item:hover{
        color:white;
    }
    .container{
        background-color: #5E3DEE;
        cursor: pointer;
    }
    .round-btn{
        border-radius: 20px;
        border: 2px solid white;
        padding: 10px 40px;
        margin: 0 10px;
    }
    .round-btn:hover{
        background-color: white;
        color: #5E3DEE;
    }
    #logo{
        font-size: 1.5rem;
        color: white;
        font-weight: bold;
        margin-right: auto;
    }
    /*Home CSS*/
    #home{
        display: flex;
        max-width: 1200px;
        padding-top: 40px;
        margin: auto;
        color: white;
        font-family:"SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .title-graphics img{
        max-width: 100%;
        border-radius: 4%;
    }
    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title h1{
        font-size: 3.5rem;
        margin: 0;
    }
    .title p{
        font-size: 1.2em;
        padding: 8px 0;
    }
    .signup-btn{
        border-radius: 30px;
        border: 2px solid white;
        font-size: 1.1rem;
        padding: 10px 40px;
        margin: 0 10px;
        background-color: white;
        color:#5E3DEE;
    }
    .signup-btn:hover{
        color: white;
        background-color: #5E3DEE;
    }
    
    /* description css */
    .marketing, .cards{
    max-width: 1450px;
    margin: auto;
    }
    .marketing h2, .price-title h2{
        font-size: 2.3rem;
        text-align: center;
        max-width: 600px;
        margin: 10px auto;
        margin-bottom: 50px;
    }
    .cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .marketing-card img{
    max-width:100%;
    margin-bottom: 20px;
    }
    .marketing-card{
        max-width: 100%;
    }
    .marketing-card div{
        text-align:center;
        line-height: 1.3rem;
    }
    .title-text{
    font-size: 1.5em;
    font-weight:bold;
    margin-bottom: 10px;
    }
    .soft{
        color: #666666;
    }
    
    /* Pricing CSS */
    #pricing, #testimonials{
        max-width:1000px;
        margin: 100px auto;
    }
    
    .price-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .price-card{
        max-width: 30%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 19px;
    }
    
    
    .price-card:hover{
        transform: scale(1.1);
        background-color: #f5f5f5;
    }
    
    .price-info{
        text-align: center;
    }
    .plan{
        color: #5E3DEE;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.2em;
    }
    .price{
        color: #444;
        font-weight: bold;
        font-size: 3rem;
    }
    .trial{
        color: #777;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .features{
        line-height: 1.8rem;
        padding-left: 10px;
        color: #666;
        list-style: none;
    }
    .action{
        text-align: center;
    }
    .action button{
        border: 2px solid #5E3DEE;
        background-color: #5E3DEE;
        color: white;
        font-size: 0.9rem;
        font-weight: lighter;
        cursor: pointer;
        padding: 10px 20px;
    }
    .action button:hover{
        background-color: white;
        color: #5E3DEE;
        font-size: 1rem;
    }
    
    /* Testimonial Section*/
    #testimonials{
        display: flex;
        padding: 60px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .profile-image img{
        border-radius: 50%;
        max-width: 170px;
    }
    .profile-image img:hover{
       transform: scale(1.3);
    }
    .feedback{
        margin-left: 30px;
    }
    .feedback p{
        color: #666;
        font-style: lighter;
        line-height: 1.5rem;
    }
    .feedback p.name{
        color: #000;
        font-style: normal;
        font-weight: bold;
    }
    
    /* Subscribe Section */
    #subscribe{
        max-width: 1000px;
        margin: auto;
        margin-bottom: 30px;
        background-color: rgb(229, 237, 249);
        border-radius: 20px;
        padding: 150px 0;
    }
    .form{
        max-width: 600px;
        text-align: center;
        margin: auto;
    }
    .email{
        width: 100%;
        line-height: 3rem;
        border-radius: 5px;
        border: 1px solid grey;
        padding: 5px 10px;
    }
    .agree{
        color: #666;
        padding: 10px;
        padding-bottom: 30px;
        text-align: left;
        font-size: 0.8rem;
        margin:  auto;
    }
    .subscribe{
        width: 103%;
        margin: 0;
    }
    .subs-title h2{
        font-size: 2rem;
        text-align: center;
        max-width: 600px;
        margin: auto;
        margin-bottom: 50px;
    }
    
    /* Footer Section */
    #footer{
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        color: white;
    }
    .footer-section{
        width: 400px;
        line-height: 1.5rem;
        padding: 10px;
    }
    .footer-section h3{
        font-size: 1.5rem;
    }
    .footer-section ul{
        list-style: none;
        padding-left: 15px;
    }
    .rect ul{
        list-style: square;
    }
    .footer-frame{
        position: relative;
        bottom: -5px;
    }
    .light-hr{
        background-color: white;
    }
    .copyright{
        max-width: 1000px;
        margin: auto;
        text-align: center;
        color: white;
        padding: 20px;
    }
    .social{
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }
    .social div{
        padding: 20px;
        cursor: pointer;
    }
    .social i{
        font-size: 3.5rem;
    }
    .social div:hover{
        transform: scale(1.3);
    }  }
  
  /* Large devices (desktops, 992px and up) Large devices (desktops, 992px and up)  Large devices (desktops, 992px and up)  Large devices (desktops, 992px and up)  Large devices (desktops, 992px and up)  Large devices (desktops, 992px and up)  Large devices (desktops, 992px and up)  Large devices (desktops, 992px and up)  Large devices (desktops, 992px and up)  Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .header{
        display: none;
    }
    #menu{
        max-width: 1450px;
        padding: 10px 10px;
        margin: auto;
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: #5E3DEE;
        font-family:"SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    div{
        padding: 5px;
       /* border: 1px solid grey;*/
    }
    .menu-item{
        color:#ffffffcc;
        font-weight:lighter;
        padding: 10px 15px;
    }
    .menu-item:hover{
        color:white;
    }
    .container{
        background-color: #5E3DEE;
        cursor: pointer;
    }
    .round-btn{
        border-radius: 20px;
        border: 2px solid white;
        padding: 10px 40px;
        margin: 0 10px;
    }
    .round-btn:hover{
        background-color: white;
        color: #5E3DEE;
    }
    #logo{
        font-size: 1.5rem;
        color: white;
        font-weight: bold;
        margin-right: auto;
    }
    /*Home CSS*/
    #home{
        display: flex;
        max-width: 1200px;
        padding-top: 40px;
        margin: auto;
        color: white;
        font-family:"SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .title-graphics img{
        max-width: 700px;
        border-radius: 4%;
    }
    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title h1{
        font-size: 3.5rem;
        margin: 0;
    }
    .title p{
        font-size: 1.2em;
        padding: 8px 0;
    }
    .signup-btn{
        border-radius: 30px;
        border: 2px solid white;
        font-size: 1.1rem;
        padding: 10px 40px;
        margin: 0 10px;
        background-color: white;
        color:#5E3DEE;
    }
    .signup-btn:hover{
        color: white;
        background-color: #5E3DEE;
    }
    
    /* description css */
    .marketing, .cards{
    max-width: 1450px;
    margin: auto;
    }
    .marketing h2, .price-title h2{
        font-size: 2.3rem;
        text-align: center;
        max-width: 600px;
        margin: 10px auto;
        margin-bottom: 50px;
    }
    .cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .marketing-card img{
    max-width:100%;
    margin-bottom: 20px;
    }
    .marketing-card{
        max-width: 100%;
    }
    .marketing-card div{
        text-align:center;
        line-height: 1.3rem;
    }
    .title-text{
    font-size: 1.5em;
    font-weight:bold;
    margin-bottom: 10px;
    }
    .soft{
        color: #666666;
    }
    
    /* Pricing CSS */
    #pricing, #testimonials{
        max-width:1000px;
        margin: 100px auto;
    }
    
    .price-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .price-card{
        max-width: 30%;
        padding: 40px;
        border: 1px solid #ccc;
        border-radius: 19px;
    }
    
    
    .price-card:hover{
        transform: scale(1.1);
        background-color: #f5f5f5;
    }
    
    .price-info{
        text-align: center;
    }
    .plan{
        color: #5E3DEE;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.2em;
    }
    .price{
        color: #444;
        font-weight: bold;
        font-size: 3rem;
    }
    .trial{
        color: #777;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .features{
        line-height: 1.8rem;
        padding-left: 10px;
        color: #666;
        list-style: none;
    }
    .action{
        text-align: center;
    }
    .action button{
        border: 2px solid #5E3DEE;
        background-color: #5E3DEE;
        color: white;
        font-size: 0.9rem;
        font-weight: lighter;
        cursor: pointer;
        padding: 10px 20px;
    }
    .action button:hover{
        background-color: white;
        color: #5E3DEE;
        font-size: 1rem;
    }
    
    /* Testimonial Section*/
    #testimonials{
        display: flex;
        padding: 60px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .profile-image img{
        border-radius: 50%;
        max-width: 170px;
    }
    .profile-image img:hover{
       transform: scale(1.3);
    }
    .feedback{
        margin-left: 30px;
    }
    .feedback p{
        color: #666;
        font-style: lighter;
        line-height: 1.5rem;
    }
    .feedback p.name{
        color: #000;
        font-style: normal;
        font-weight: bold;
    }
    
    /* Subscribe Section */
    #subscribe{
        max-width: 1000px;
        margin: auto;
        margin-bottom: 30px;
        background-color: rgb(229, 237, 249);
        border-radius: 20px;
        padding: 150px 0;
    }
    .form{
        max-width: 600px;
        text-align: center;
        margin: auto;
    }
    .email{
        width: 100%;
        line-height: 3rem;
        border-radius: 5px;
        border: 1px solid grey;
        padding: 5px 10px;
    }
    .agree{
        color: #666;
        padding: 10px;
        padding-bottom: 30px;
        text-align: left;
        font-size: 0.8rem;
        margin:  auto;
    }
    .subscribe{
        width: 103%;
        margin: 0;
    }
    .subs-title h2{
        font-size: 2rem;
        text-align: center;
        max-width: 600px;
        margin: auto;
        margin-bottom: 50px;
    }
    
    /* Footer Section */
    #footer{
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        color: white;
    }
    .footer-section{
        width: 400px;
        line-height: 1.5rem;
        padding: 10px;
    }
    .footer-section h3{
        font-size: 1.5rem;
    }
    .footer-section ul{
        list-style: none;
        padding-left: 15px;
    }
    .rect ul{
        list-style: square;
    }
    .footer-frame{
        position: relative;
        bottom: -5px;
    }
    .light-hr{
        background-color: white;
    }
    .copyright{
        max-width: 1000px;
        margin: auto;
        text-align: center;
        color: white;
        padding: 20px;
    }
    .social{
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }
    .social div{
        padding: 20px;
        cursor: pointer;
    }
    .social i{
        font-size: 3.5rem;
    }
    .social div:hover{
        transform: scale(1.3);
    } 
  }
  
  /* Extra Large devices (large desktops, 1200px and up) Extra Large devices (large desktops, 1200px and up) Extra Large devices (large desktops, 1200px and up) Extra Large devices (large desktops, 1200px and up) Extra Large devices (large desktops, 1200px and up) Extra Large devices (large desktops, 1200px and up) Extra Large devices (large desktops, 1200px and up) Extra Large devices (large desktops, 1200px and up) Extra Large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {
    .header{
        display: none;
    }
    #menu{
        max-width: 1450px;
        padding: 10px 10px;
        margin: auto;
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: #5E3DEE;
        font-family:"SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    div{
        padding: 5px;
       /* border: 1px solid grey;*/
    }
    .menu-item{
        color:#ffffffcc;
        font-weight:lighter;
        padding: 10px 15px;
    }
    .menu-item:hover{
        color:white;
    }
    .container{
        background-color: #5E3DEE;
        cursor: pointer;
    }
    .round-btn{
        border-radius: 20px;
        border: 2px solid white;
        padding: 10px 40px;
        margin: 0 10px;
    }
    .round-btn:hover{
        background-color: white;
        color: #5E3DEE;
    }
    #logo{
        font-size: 1.5rem;
        color: white;
        font-weight: bold;
        margin-right: auto;
    }
    /*Home CSS*/
    #home{
        display: flex;
        max-width: 1200px;
        padding-top: 40px;
        margin: auto;
        color: white;
        font-family:"SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .title-graphics img{
        max-width: 700px;
        border-radius: 4%;
    }
    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title h1{
        font-size: 3.5rem;
        margin: 0;
    }
    .title p{
        font-size: 1.2em;
        padding: 8px 0;
    }
    .signup-btn{
        border-radius: 30px;
        border: 2px solid white;
        font-size: 1.1rem;
        padding: 10px 40px;
        margin: 0 10px;
        background-color: white;
        color:#5E3DEE;
    }
    .signup-btn:hover{
        color: white;
        background-color: #5E3DEE;
    }
    
    /* description css */
    .marketing, .cards{
    max-width: 1450px;
    margin: auto;
    }
    .marketing h2, .price-title h2{
        font-size: 2.3rem;
        text-align: center;
        max-width: 600px;
        margin: 10px auto;
        margin-bottom: 50px;
    }
    .cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .marketing-card img{
    max-width:100%;
    margin-bottom: 20px;
    }
    .marketing-card{
        max-width: 100%;
    }
    .marketing-card div{
        text-align:center;
        line-height: 1.3rem;
    }
    .title-text{
    font-size: 1.5em;
    font-weight:bold;
    margin-bottom: 10px;
    }
    .soft{
        color: #666666;
    }
    
    /* Pricing CSS */
    #pricing, #testimonials{
        max-width:1000px;
        margin: 100px auto;
    }
    
    .price-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .price-card{
        max-width: 30%;
        padding: 40px;
        border: 1px solid #ccc;
        border-radius: 19px;
    }
    
    
    .price-card:hover{
        transform: scale(1.1);
        background-color: #f5f5f5;
    }
    
    .price-info{
        text-align: center;
    }
    .plan{
        color: #5E3DEE;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.2em;
    }
    .price{
        color: #444;
        font-weight: bold;
        font-size: 3rem;
    }
    .trial{
        color: #777;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .features{
        line-height: 1.8rem;
        padding-left: 10px;
        color: #666;
        list-style: none;
    }
    .action{
        text-align: center;
    }
    .action button{
        border: 2px solid #5E3DEE;
        background-color: #5E3DEE;
        color: white;
        font-size: 0.9rem;
        font-weight: lighter;
        cursor: pointer;
        padding: 10px 20px;
    }
    .action button:hover{
        background-color: white;
        color: #5E3DEE;
        font-size: 1rem;
    }
    
    /* Testimonial Section*/
    #testimonials{
        display: flex;
        padding: 60px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .profile-image img{
        border-radius: 50%;
        max-width: 170px;
    }
    .profile-image img:hover{
       transform: scale(1.3);
    }
    .feedback{
        margin-left: 30px;
    }
    .feedback p{
        color: #666;
        font-style: lighter;
        line-height: 1.5rem;
    }
    .feedback p.name{
        color: #000;
        font-style: normal;
        font-weight: bold;
    }
    
    /* Subscribe Section */
    #subscribe{
        max-width: 1000px;
        margin: auto;
        margin-bottom: 30px;
        background-color: rgb(229, 237, 249);
        border-radius: 20px;
        padding: 150px 0;
    }
    .form{
        max-width: 600px;
        text-align: center;
        margin: auto;
    }
    .email{
        width: 100%;
        line-height: 3rem;
        border-radius: 5px;
        border: 1px solid grey;
        padding: 5px 10px;
    }
    .agree{
        color: #666;
        padding: 10px;
        padding-bottom: 30px;
        text-align: left;
        font-size: 0.8rem;
        margin:  auto;
    }
    .subscribe{
        width: 103%;
        margin: 0;
    }
    .subs-title h2{
        font-size: 2rem;
        text-align: center;
        max-width: 600px;
        margin: auto;
        margin-bottom: 50px;
    }
    
    /* Footer Section */
    #footer{
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        color: white;
    }
    .footer-section{
        width: 400px;
        line-height: 1.5rem;
        padding: 10px;
    }
    .footer-section h3{
        font-size: 1.5rem;
    }
    .footer-section ul{
        list-style: none;
        padding-left: 15px;
    }
    .rect ul{
        list-style: square;
    }
    .footer-frame{
        position: relative;
        bottom: -5px;
    }
    .light-hr{
        background-color: white;
    }
    .copyright{
        max-width: 1000px;
        margin: auto;
        text-align: center;
        color: white;
        padding: 20px;
    }
    .social{
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }
    .social div{
        padding: 20px;
        cursor: pointer;
    }
    .social i{
        font-size: 3.5rem;
    }
    .social div:hover{
        transform: scale(1.3);
    }  }
  

